Package: com.hdang.dynamicbyhdang
Name: Dynamic by HDang
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Dynamic Island cho iOS tạo bởi HDang
Maintainer: HDang
Author: HDang
Section: Tweaks
